.main-chat
  .main-chat__group-info
    .info-left
      .info-left__group-name
        = @group.name
      .info-left__group-member
        - @group.group_users.each do |group_user|
          = group_user.user.name
        
    .info-right
      =link_to "Edit", edit_group_path(@group.id), class: "edit-btn" 
    
  .main-chat__message-list
    = render @messages

  .main-chat__form
    = form_for [@group, @message] do |f|
      .message-form
        = f.text_field :text, class: 'message-form__text', placeholder: 'type a message'
        = f.label :image, class: 'message-form__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'file'
      = f.submit 'Send', class: 'submit-btn'